@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="~/favicon.png"/>
    <title>VŠE Verifikace</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container mx-auto p-8">
    <header class="flex flex-col items-center md:flex-row md:justify-between lg:w-2/3 lg:mx-auto">
        <h1 class="text-4xl font-black order-2 mb-4 md:order-1 md:mb-0">VŠE Verifikace</h1>
        <img class="w-32 h-32 md:w-16 md:h-16 order-1 md:order-2" alt="Verification icon" src="https://localhost:7137/verification.png"/>
    </header>
    
    <hr class="my-12"/>

    @RenderBody()

    <hr class="my-12"/>
    <footer class="text-gray-400 text-center">Zdrojový kód je dostupný na <a class="font-bold text-black" href="https://github.com/fis-vse-discord/vse-verification" target="_blank">Githubu</a></footer>
</div>

</body>
</html>