@{
    Layout = "_Layout";
}

<div class="text-center my-8">
    <h1 class="text-4xl font-black text-green-600">Verifikace proběhla úspěšně</h1> 
    <h2 class="mt-8 text-2xl text-gray-500">Může trvat několik minut, než se verifikace propíše do ostatních systémů</h2>
</div>
