@{
    Layout = "_Layout";
}

<div class="text-center my-8">
    <h1 class="text-4xl font-black text-red-600">V aplikaci došlo k chybě</h1> 
    <h2 class="mt-8 text-2xl text-gray-500">Všechny chyby jsou monitorovány, ale i tak můžeš dát vědět někomu z adminů</h2>
</div>
